# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.log
*.idb
*.pdb
*.d
*.opensdf
*.tlog
*.bc
*.html
*.js
*.sdf
*.ilk
*.com
*.dat
*.ipm
*.log
*.msg
*.odb
*.prt
*.rec
*.sim
*.sta
projects/*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.7z